In [21]:
import pandas as pd

df = pd.read_csv('covid19_tweets.csv')
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [22]:
df.shape

(74436, 13)

In [12]:
74436*13

967668

In [23]:
df.describe()

       user_followers   user_friends  user_favourites
count    7.443600e+04   74436.000000     7.443600e+04
mean     1.059513e+05    2154.721170     1.529747e+04
std      8.222900e+05    9365.587474     4.668971e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      1.660000e+02     153.000000     2.200000e+02
50%      9.600000e+02     552.000000     1.927000e+03
75%      5.148000e+03    1780.250000     1.014800e+04
max      1.389284e+07  497363.000000     2.047197e+06

In [26]:
df['user_verified'].value_counts()

False    65082
True      9354
Name: user_verified, dtype: int64

In [29]:
df['is_retweet'].value_counts()

False    74436
Name: is_retweet, dtype: int64

In [32]:
df['source'].value_counts()

Twitter Web App               22974
Twitter for Android           16758
Twitter for iPhone            15824
TweetDeck                      3453
Hootsuite Inc.                 2846
                              ...
Post to Social by SHIFT1          1
PRNewswire                        1
Hep Auto Tweet                    1
Chorus publishing platform        1
Tweecha Lite                      1
Name: source, Length: 450, dtype: int64

In [40]:
df['user_created'] = pd.to_datetime(df['user_created'],format="%Y-%m-%d %H:%M:%S")

In [41]:
df['user_created']

0       2017-05-26 05:46:42
1       2009-04-16 20:06:23
2       2009-02-28 18:57:41
3       2019-03-07 01:45:06
4       2017-02-12 06:45:15
                ...
74431   2010-09-24 02:01:15
74432   2013-05-14 20:15:24
74433   2018-02-04 12:36:42
74434   2014-02-18 03:46:28
74435   2016-12-19 19:55:00
Name: user_created, Length: 74436, dtype: datetime64[ns]

In [43]:
df['date']

0        2020-07-25 12:27:21
1        2020-07-25 12:27:17
2        2020-07-25 12:27:14
3        2020-07-25 12:27:10
4        2020-07-25 12:27:08
                ...
74431    2020-08-04 03:13:29
74432    2020-08-04 03:13:26
74433    2020-08-04 03:13:22
74434    2020-08-04 03:13:19
74435    2020-08-04 03:13:15
Name: date, Length: 74436, dtype: object

In [46]:
df['user_description'].isna().value_counts()

False    70079
True      4357
Name: user_description, dtype: int64

In [49]:
df['user_location'].value_counts()

India                  1496
United States          1172
New Delhi, India        669
Washington, DC          589
Mumbai, India           554
                       ...
Sheltering in Place       1
NiggaBallsüëÅÔ∏è              1
Kaduna Nigeria            1
ajmer                     1
üò∑ #stayathome             1
Name: user_location, Length: 14622, dtype: int64

In [72]:
df['is_retweet'].isna().value_counts()

False    74436
Name: is_retweet, dtype: int64